// COLORS
$c1: #1d3557;
$c2: #457b9d;
$c3: #a8dadc;
$c4: #f1faee;
$c5: #e63946;
$c6: rgba($c1, 0.8);
$c7: white;
$c8: #ffcd3c;
$c9: rgba($c7, 0.4);
$c10: rgba($c4, 0.7);


//SIZES
$defaultHeaderHeight: 95px;
